.a
{
	font-style: normal;
	color: black;
	resize: none;
}
.b
{
    border:1;  
    background-color:transparent;  
    /*scrollbar-arrow-color:yellow;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;*/  
    color: #666464;  
    height: auto; 
	resize: none;
}
input
{
	width:10px;
}
