.a
{
	font-style: normal;
	color: black;
	resize: none;
}
.b
{
    border:1;  
    background-color:transparent;  
    /*scrollbar-arrow-color:yellow;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;*/  
    color: #666464;  
    height: auto; 
	resize: none;
}
input[type="text"]
{
	width:400px;
}
input[type="file"]
{
	height: 36px;
  line-height: 36px;
  vertical-align: middle;
  display:inline-block;
}
.active-second-menu{
    color:#ffffff !important;
}
#yishenhe{
	
}
#daishenhe{
	
}
///查看信息/////
.view{
	margin: 20px 0 0 0;
}
/////预览//////
.preview-card{
	border: 10px solid #000000;
}
.preview-card h3{
	margin: 10px 0;
}
.preview-card .card-title{
	text-align: center;
	margin: 25px 0;
	padding: 30px 0 0 0;
}
.preview-card .Msg{
	margin: 0 0 0 40%;
}
.preview-card h1{
	margin: 40px 0 30px 0;
}
.preview-card .card-content p{
	margin: 0 25px;
}
